<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Welcome to CalSum!</title>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="static/css/style.css" rel="stylesheet" />
</head>

<body style="background-color: azure; margin: 0px;">
  <nav class="navbar navbar-expand-lg" style="background-color:rgb(124, 160, 160); font-weight: bold; font-family:Georgia, 'Times New Roman', Times, serif; padding: 0px; margin-bottom: 0px;">
    <img class="mb-4" class="img" src="/static/images/CalSumLogo.jpg" alt="CalSumLogo" style="background-position: left; background-size: cover; margin-right: 0px;"/>
    <div class="container">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-left: 0px; animation: pulse 2s infinite;"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 0%;">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="learn">Learn More</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Account</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">About</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
          <section class="mb-5">
            <div class="card" style="background-color:rgb(124, 160, 160); font-family: Georgia, 'Times New Roman', Times, serif; text-align: center; border-radius: 0%;">
                <div class="card-body" style="box-shadow: 3px 3px 3px rgb(56, 76, 76)">
                    
                        <form>
                            <table id="calc" class="table">
                              <tr>
                                <h4><strong>! Reminder !</strong></h4>
                                <p>
                                 The following results are <strong>NOT</strong> backed by any medical professionals, so please make sure to contact and speak with your medical provider before committing to any new diet changes or restrictions!
                                </p>
                            
                              </tr>
                              
                                <div style="margin:auto; width: 400px;">
                                    <h5 class="resultsTitle" style="background-color: rgb(128, 156, 156); margin: 20px; border: 5px solid; border-color:rgb(71, 96, 96); border-radius: 6px; box-shadow: 0 7px 7px rgb(56, 76, 76); padding: 8px; text-shadow: 1px 0px 0px black;">Let's learn more about...</h5>
                                </div>
                                <tr>
                                  
                              </tr>

                              <tr>
                                <td>
                                    <h4>What is CalSum?</h4>
                                    <p>
                                     CalSum is a easy-to-use calculator that anyone can use to determine the calories that they need to 'maintain' their current weight, how many calories to lose or see a 'deficit', and how many calories to gain or 'bulk'. 
                                     <ol>
                                      <li><strong>Maintenance</strong>: calories to eat or keep eating in order to 'maintain' their current body weight. Knowing this value is crucial in order to determine goals and how to achieve it.</li>
                                      <li><strong>Deficit</strong>: how many calories to lose weight. Done by taking Maintenance, which is what would keep the current weight, and subtract 300-500 calories from that.</li>
                                      <li><strong>Bulk</strong>: how many calories to gain weight. Done by taking Maintenance, which is what would keep the current weight, and adding 300-500 calories to that.</li>
                                     </ol> 
                                    </p>
                                </td>
                                
                            </tr>

                              <tr>
                                <td>
                                    <h4>What is BMR?</h4>
                                    <p>
                                     "Basal metabolic rate is the number of calories your body needs to accomplish its most basic (basal) life-sustaining functions." -  Scott Frothingham via healthline
                                    </p>
                                    <a href="https://www.healthline.com/health/what-is-basal-metabolic-rate">Click here to go to this article and read more!</a>
                                </td>
                                
                            </tr>
                            